/*join-us.css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*resetting all box models*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*most important container (visible)*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/vertical2.jpg);
    background-size: cover;
}

#primary-nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    display: flex;
    padding: 2px 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    z-index: 2;
  }
  .agency-name, .logo{
    max-height: 55px;
    max-width: 55px;
  }
  .agency-name{
    max-width: 65px;
  }

/*toggle button open menu*/
.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url(../img/openWhite.jpg); /*here goes the open hamburger menu*/
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: none;
    z-index: 3;
    filter: invert(1);
}
/*toggle button close menu*/
.toggle.active{
    background: url(../img/1.png); /*close hamburger menu*/
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
}

a{ /*all anchors*/
  text-decoration:none;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 20px;
}
a:hover{
  border-radius: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 30%;
    display: flex;
    border-radius: 15px 0px 0px 15px;
    padding-left: 50px;
    flex-direction: column;
    background-color: #fff;
    background: rgb(246, 248, 246,0.3)
    
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    flex-direction: column;
    
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#000000 ;
}

.contactForm{
    width: 60%;
    padding: 30px;
    border-radius: 15px;
    background: rgb(246, 248, 246,0.3)
    
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top:10px;
    opacity: 0.8;
}

.container .logo{
    position: absolute;
    top: 140px;
    left: 40px;
    min-width: 400px;
    min-height: 400px;
}

.container .agency-name{
    position: absolute;
    bottom: 340px;
    left: 40px;
    min-width: 400px;
    min-height: 200px;
}


.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}


.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #000000;
    font-size: 12px;
    transform: translateY(-20px);
}


.contactForm .inputBoxDiff input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    float: left;
}

.contactForm .inputBoxDiff input[type="reset"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    float: right;
}

/*media queries*/
@media screen and (max-width: 1024px){
    .agency-name, .logo{
      max-height: 55px;
      max-width: 55px;
    }
    .agency-name{
      max-width: 65px;
    }
    .toggle{
      display: inline-block;
    }
    #primary-nav{
      display: none;
    }
    #primary-nav.active{
      display: block;
      background-color: black;
      opacity: 1;
      height: 500px;
    }
    #primary-nav.active a{
      display: block;
    }
  }

@media (max-width: 991px){
        .contact{
            padding: 50px;
        }
        .container{
            flex-direction: column;
        }
        .container .contactInfo{
            margin-bottom: 40px;
        }
        .container .contactInfo,
        .contactForm{
            width: 100%;
        }
}
    
